.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: start; 
    padding: 20px;
    height: 200px; 
    flex: 1;

}

.filters {
    flex: 0 0 200px; 
    padding: 20px;
    height: calc(100vh - 40px); 
    overflow-y: auto; 
}

.ride-list {
    flex: 1; 
    max-width: 600px; 
    padding: 20px;
    overflow-y: auto; 
  
}
body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}